---
title: "Digital Media"
description: "Digital Media Essentials - How to Work with Media for the Web"
---

<!DOCTYPE html>
 {% include head.html %}

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

 {% include nav.html %}

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>WILL Website Manual for Content Authors</h1>
    <p class="lead">Digital Media Essentials - How to Work with Media for the Web</p>

    <div id="carbonads-container">
      <div class="carbonad">
        <img src="{{ site.urlimg }}WILL-Home-Page.png" width="250" alt="WILL Home page"/>
      </div>
    </div>    
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#managing"><i class="icon-chevron-right"></i> Managing Your Digital Media</a></li>
          <li><a href="#filenaming"><i class="icon-chevron-right"></i> WILL File Naming Convention</a></li>                    
          <li><a href="#encoding"><i class="icon-chevron-right"></i> Encoding and Publishing Online Media</a></li>
          <li><a href="#audioencoding"><i class="icon-chevron-right"></i> Audio specification for Online Media</a></li>          
          <li><a href="#videoencoding"><i class="icon-chevron-right"></i> Video specification for Online Media</a></li>

        </ul>
      </div> <!-- span3 -->
      
      <div class="span9">


    <!-- The Digital Shift
    ================================================== -->
        <section id="managing">
          <div class="page-header">
            <h2>Managing Your Digital Media</h2>
          </div>
          <p class="lead">Broadcasting is less than a century old. Digital media is less than 25 years old in any practical sense. Change in media technology is so rapid that it's challenging for all of us to keep up. Working with digital media can seem very complex. But we can do a few simple things to smooth our progress in the digital media age.</p>
          <img src="{{ site.urlimg }}yin-yang-media.png" alt="yin and yang symbol with Content and Metadata" width="300" style="float:right">
          <p>The most important thing to grasp is the foundation of everything digital:</p>
          <ul>
            <li>Content</li>
            <li>Metadata</li>
          </ul>
          
          <p>Content is the essence of what we produce: a story, a video, an audio report, a photo. These are now digital media files.</p>  
          <p>Metadata is information about Content. Examples are Titles, Dates, Description, Byline, Caption, Categories, Keywords, Producer credits, Copyright notices, and a large number of other possible facts about the content.</p> 
          <p>Content and Metadata come together in file names. If you name your files well, you can see at a glance what the file is.</p>
          <p>This matters more over time as we produce more and more content. We need to be able to store digital media and find it later. If we don't have good metadata, and don't use good practices in naming our digital media files, the value of what we produce will be lost.</p>
      </section>

        <!-- WILL File Naming Convention
        ================================================== -->
        <section id="filenaming">
          <div class="page-header">
            <h2>WILL File Naming Convention</h2>
          </div>
          <p class="lead">Keeping track of thousands of digital media files over time is challenging to say the least. A key part of managing content is use of a standard file-naming system. </p> 
          <p>Each producer should follow this convention when creating audio or video files:</p>
          <p>Short name of the program or activity, followed by the date the file is aired or created (formatted as YYYYMMDD). The file extension (like .mp3 or whatever) is added automatically when you create the file.</p>  
          <p>Examples:</p>
          <ul>
            <li>news20130605_erika_harold.wav</li>
            <li>focus20130129.wav</li>
            <li>midamericangardener20121014.mov</li>
          </ul>    
          <p>Please note:</p>
          <ul>
            <li>use only lowercase</li>
            <li>no spaces allowed in filenames</li>
            <li>no characters other than letters, numbers, underscores, and dashes</li>
          </ul> 
          <h3>Why is this important</h3>
          <p>Most everything we produce is going on the internet, which means people getting it through a web browser or mobile device. Characters in file names other than letters, numbers, dashes, or underscores will break the links to the files in many cases. Using lower-case is important for consistency, and makes it easier to look at a folder with thousands of files without going stark raving mad. Using the [name][date] format nicely lines up all related files in exact date order. For things like News where we might have several audio files created on the same date, appending a short slug solves the problem.</p>            
        </section>

    <!-- Encoding and Publishing Online Media
    ================================================== -->        
        <section id="encoding">
          <div class="page-header">
            <h2>Encoding and Publishing Online Media</h2>
          </div>
          <p class="lead">WILL has an automatic encoding system for audio files you want to upload to the web. We call this the Watch folder for web audio archives. The <em>Watch</em> folder does three very important things:</p>
          <ul>
            <li>It encodes edited wav files to the correct mp3 format for the web</li>
            <li>It saves all the wav files in one place for preservation and future reuse</li>
            <li>It saves you time and effort</li>
          </ul>
          <p>You use the <em>Watch</em> folder by dragging and dropping your finished wav files into it. The encoding system will grab the wav file, encode it to mp3 format, and save the mp3 file in another folder called <em>tempencoded</em>.</p>
          <h3>Where to find the Watch folder</h3>
          <p>The Technology Department has probably already set up desktop shortcuts for you for both the <em>Watch</em> and <em>tempencoded</em> folders. If not, you can send a request to <a href="mailto:will-help@illinois.edu">will-help@illinois.edu</a> and ask them to do this.</p>
          <p>If for any reason you need to create your own shortcuts or drive mappings to these folder, here they are:</p>
          <h4>Watch folder</h4>
          <ul>
	          <li>Windows: \\will-encoder2.ad.uillinois.edu\watch </li>
	          <li>Mac: smb://will-encoder2.ad.uillinois.edu/watch</li>
          </ul>
          <h4>Tempencoded folder</h4>
          <ul>
	          <li>Windows: \\storage01.will.illinois.edu\willarchive\tempencoded</li>
	          <li>Mac: smb://storage01.will.illinois.edu/willarchive/tempencoded</li>
          </ul> 
          <p>If you get a message that you don't have permission to access these folders, just contact <a href="mailto:will-help@illinois.edu">will-help@illinois.edu</a>.</p>       
          <h3>Using the audio encoding system, and uploading mp3 files to the WILL website</h3>  
          <ol>
            <li>Edit your finished wav file using Audition etc</li>
            <li>Drag and Drop the wav file into the <em>Watch</em> folder on your desktop. The encoding system will then encode the wav to an mp3 files within a minute or so</li>
            <li>Create your web story or content entry in the website CMS</li>
            <li>Upload the mp3 file from the folder named <em>tempencoded</em> into the Audio field in the CMS entry form.</li>
          </ol>
          <h3>A Note on File Names</h3>
          <p>The file naming convention above should be applied <em>before</em> wav files are dropped into the Watch folder for encoding. Please name all media files based on this naming convention from the beginning of the process.</p>
          <h3>Troubleshooting</h3>
          <p>If a wav file dropped into the Watch folder doesn't encode, it's usually a problem with the wav file itself. This can happen in Audition (or whatever software created the file) if the Save settings are something other than a standard wav file. For purely audio content, it's best to always save wav files at a 44100 sampling rate, and 16 bit depth.</p>
          <p>On very rare occasions, the encoding automation may be stacked up with other encoding jobs. And like anything involving computers the system can crash, but this has been very rare.</p>
          <p>In any situation where things aren't working correctly, send a support request with details at <a href="mailto:will-help@illinois.edu">will-help@illinois.edu</a>.</p>           
        </section>


        <!-- Audio Encoding Specification
        ================================================== -->
        <section id="audioencoding">
          <div class="page-header">
            <h2>Audio Encoding Specification</h2>
          </div>
          <p class="lead">If you use the WILL automatic encoding system for audio files, you never have to worry about encoding your file to the correct format for the web.  Please use that system always. </p> 
          <p>For the sake of clarity and documentation, here is the audio encoding spec we use for all online audio:</p>  
          <ul>
            <li>File Format: mp3</li>
            <li>Total Bitrate: 64 Kbps</li>
            <li>Bit Depth: 16 bits/li>
            <li>Sampling Rate: 44.1 KHz</li>
            <li>Audio Channels: 1 (mono)</li>
          </ul>    
          <h3>Why is this important</h3>
          <p>People increasingly access our audio content on mobile devices with limited data plans. Some users are still on slow internet connections. The above spec provides good quality at a reasonably low bitrate so it's usable by more people. On rare occasions we may want a higher bitrate, and stereo channel configuration, for example in the case of music. We are currently not providing downloadable music files, but if we do start to provide this we can revisit the audio encoding spec for high fidelity content.</p>            
        </section>
        
        <!-- Video Encoding Specification
        ================================================== -->
        <section id="videoencoding">
          <div class="page-header">
            <h2>Video Encoding Specification</h2>
          </div>
          <p class="lead">Here's the video encoding spec for all video file uploads to COVE, YouTube, Vimeo, and Kaltura. The same file can be uploaded to these platforms as needed.</p> 
          <p>The platforms will then encode the video file again to their own spec. That's why we give them a compressed but very high quality source file, which they will compress further.</p>
          <h3>Video Stream</h3>
          <ul>
            <li>File Format: MPEG-4 (.mp4)</li>
            <li>Total Stream BitRate: 5 Mbps Video Stream</li>
            <li>Codec: AVC (H.264)</li>
            <li>Frame Size 16/9: 1280 x 720</li>
            <li>Frame Size 4/3: 960 x 720</li>
            <li>Frame Rate: 30 fps</li>                        
            <li>Pixel Aspect Ratio 1:1 (square pixels)</li>
            <li>Video Standard: NTSC</li>
            <li>Scan Type: Progressive</li>
            <li>Video Stream BitRate: 4808 Kbp</li>
            <li>Video Stream BitRate Mode: VBR </li>
          </ul> 
          <h3>Audio Stream</h3>
          <ul>
            <li>Codec: AAC</li>
            <li>Audio Stream BitRate: 192 Kbps</li>
            <li>Audio Stream BitRate Mode: CBR</li>
            <li>Number of Audio Channels: 2 (Stereo)</li>
            <li>Audio Channel's Positions: L, R</li>
            <li>Sampling Rate: 48 KHz</li>                        
            <li>Bit Depth: 16 bits</li>
          </ul> 	                     
        </section>        
                                          
        
      </div>
    </div>

  </div>


{% include footer.html %}

  </body>
</html>

<!-- Localized -->