---
title: "WILL Website Manual for Site Administrators"
description: "The CMS Framework and How the Site is Constructed"
---

<!DOCTYPE html>
 {% include head.html %}

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

 {% include nav.html %}

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>WILL Website Manual for Site Administrators</h1>
    <p class="lead">The CMS Framework and How the Site is Constructed</p>

    <div id="carbonads-container">
      <div class="carbonad">
         <img src="{{ site.urlimg }}WILL-Home-Page.png" alt="WILL Home page"/>
      </div>
    </div>    
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#ee-cms"><i class="icon-chevron-right"></i> ExpressionEngine CMS</a></li>
          <li><a href="#bootstrap"><i class="icon-chevron-right"></i> Boostrap framework</a></li>
          <li><a href="#site-components"><i class="icon-chevron-right"></i> Site Components</a></li>
          <li><a href="#field-group"><i class="icon-chevron-right"></i> One Field Group to Rule Them All</a></li>
          <li><a href="#templates"><i class="icon-chevron-right"></i> Template &amp; Content Structure</a></li>
          <li><a href="#parse-order"><i class="icon-chevron-right"></i> ExpressionEngine’s Parse Order</a></li>
          <li><a href="#snippets"><i class="icon-chevron-right"></i> Snippets</a></li>
          <li><a href="#embeds"><i class="icon-chevron-right"></i> Embeds</a></li>
          <li><a href="#gv"><i class="icon-chevron-right"></i> Global Variables</a></li>
          <li><a href="#lowvariables"><i class="icon-chevron-right"></i> Low Variables</a></li>
          <li><a href="#statictemplates"><i class="icon-chevron-right"></i> Static Templates</a></li>
          <li><a href="#audioplayers"><i class="icon-chevron-right"></i> Audioplayers</a></li>         
        </ul>
      </div> <!-- span3 -->
      
      <div class="span9">


    <!-- Why ExpressionEngine
    ================================================== -->
        <section id="ee-cms">
          <div class="page-header">
            <h1>ExpressionEngine CMS</h1>
          </div>
          <p class="lead">Since 2006 we have used ExpressionEngine for our CMS. Technically it's not any better or worse than other platforms like Drupal or WordPress, but it does provide more ease of use and flexibility for web designers. For one thing, there is no default markup or CSS, so you are free to build whatever kinds of templates and pages you wish. You can easily mix static pages with database-driven content pages, with very few limits to what kind of site you can build.</p>
          <p>Building templates in EE is straightforward and you can use your favorite authoring tools. Templates are saved in the EE database and you can edit them directly in the Control Panel. But the CP gives you a fairly crappy text editor, so it's easier to work with the templates in a dedicated code editor. There are several simple ways of doing this, but on the Mac it's easiest to use a third-party plugin called <a href="http://hellomountee.com/">Mountee</a>, which mounts your EE templates like a drive.</p>
          <p>EE templates are php files, so you can set your file handling preferences to open them in whatever code editor you prefer.</p>
          <p><i class="icon-hand-right"></i> <em>A complete EE technical resource and user guide for administrators is available in the <a href="http://ellislab.com/expressionengine/user-guide/">ExpressionEngine User Guide</a></em>.</p>  
      </section>
        
        <!-- Logging into the CMS
        ================================================== -->
        <section id="bootstrap">
          <div class="page-header">
            <h2>The Bootstrap framework</h2>
          </div>
          <p class="lead">The WILL website uses the <a href="http://getbootstrap.com/" target="_blank">Bootstrap responsive web design framework</a>.</p> 
          <p>Bootstrap provides a responsive grid and a useful set of element styles like buttons, forms, labels, and navigation. It also has a very useful JavaScript library based on JQuery, for things like carousels, tabs, accordions, etc. Each of these elements can easily be re-styled.</p>
          <p><i class="icon-hand-right"></i> <em>The WILL site currently uses Bootstrap 3.2, but Bootstrap is under rapid development and as of January 1, 2015 is at version 3.3. We will update the core Bootstrap files over time, always first on our dev and staging servers before applying changes to the live server.</em></p>          
        </section>

    <!-- Entry Date
    ================================================== -->        
        <section id="site-components">
          <div class="page-header">
            <h2>Site Components</h2>
          </div>
          <p class="lead">Every CMS-driven website consists of a bundle of things, like a file system, a database, scripts, and possibly a framework. Here's what we're using:</p>
          <ul>
            <li>ExpressionEngine CMS, running on a LAMP stack inside a virtual machine. Everything from the VM on up to the CMS is managed by Taylor Judd, our Internet Technology Specialist/SysAdmin.</li>
            <li>the Bootstrap framework, mentioned above. The core Bootstrap files are in the <code>/themes/site_themes/will2.1</code> folder on the server. These files include all the Bootstrap JavaScript, the never-edit-these Bootstrap stylesheets, an images folder containing theme images, and a plugins folder for additional JS and CSS files. You'll also find a 'weather' folder here which contains custom JS and CSS files for the /weather page.</li>
            <li>Overrides of default Boostrap styles, and custom styles defined for the WILL 2.1 site, are contained in the file custom.css.</li>
            <li>We're using MediaElement.js for our audio players. All the files for this are in <code>/themes/site_themes/mediaelement</code>.</li>
            <li>The folder <code>/will2.1/plugins/weather</code> contains the JavaScript used on the weather/index page. Inside this folder, the images folder contains a set of weather icons used by the Yahoo Weather plugin that generates the weather icon seen in the header of every page.</li>
            <li>All the EE addon files are contained in <code>/ipmsys/expressionengine/third_party</code>, and <code>/themes/third_party</code>, the default location for EE addons.</li>
            <li>We also set up a very important folder for uploading files through EE Entry forms: <code>/nfs</code> contains a large number of mp3 audio files, plus PDF documents and other allowed filetypes uploaded with entries for use on the site. The NFS share is mapped from the web server, and <strong>is not part of the standard EE install</strong>.</li>
          </ul>         
        </section>  
        
     <!-- One Field Group
    ================================================== -->        
        <section id="field-group">
          <div class="page-header">
            <h2>One Field Group to Rule Them All</h2>
          </div>
          <p class="lead">All EE channels throughout the site use the same Custom Field group: items. This allows us to reuse template code for all channels, reducing the complexity of templates, and dramatically improving site performance and ease of maintenance.</p>
          <p>Some channels use only a few fields. Entry forms are customized to only show the relevant fields, to simplify the interface for content authors. It's easy to customize the entry form on a per-user group basis. Here are the <a href="https://ellislab.com/expressionengine/user-guide/cp/content/publish_page_layouts.html" target="_blank">instructions for customizing the Publish Page layout</a>.</p>
        </section>  
               
     <!-- Template and Content Structure
    ================================================== -->        
        <section id="templates">
          <div class="page-header">
            <h2>Template and Content Structure</h2>
          </div>
          <p class="lead">Each section of the site has its own Template Group containing an index page template, and one or more single-entry page templates. Most sections are very simple: a Home page and many entry pages, all generated by two main templates. A few sections are fairly complex, using templates with conditional logic to generate a variety of pages and views.</p>
          <h3>Template Architecture</h3>
          <p>All web pages and feeds are generated by using markup and logic contained in:</p>
        <ul>
          <li>Templates</li>
          <li>Snippets</li>
          <li>Embeds</li>
          <li>Global Variables</li>
          <li>Low Variables</li>
        </ul>
        <p>Almost all Templates contain only pre-defined variables that are passed on to Snippets. Snippets contain most of the actual markup and logic, but also make use of embedded Global Variables and Embedded templates. Basically, Snippets are the heart and soul of the site, and they include other elements as needed.</p>

<p>Pre-defined variables are passed from the Templates to Snippets, and sometimes from Snippets to Embeds. Each pre-defined variable has been given a prefix to clarify its role in the logic. </p>

<p>For example in the index page for a given content section, we set the value its channel in the variable {pre_channel}, where the prefix “pre_” shows that the variable is being passed to the Snippet before any logic is applied to anything. In the Snippet, {pre_channel} is replaced by the value defined in the template, for example “news”.</p>

<p>By pre-defining many variables in the Templates, we can re-use the same Snippets to generate pages and feeds for the vast majority of the site.</p> 

<h4>Example: new/index template</h4>

<pre>
{preload_replace:pre_title="News"}
{preload_replace:pre_channel="features|news|newsnational"}
{preload_replace:pre_logo="IPM_Logo_Main.png"}
{preload_replace:pre_description="In-depth reporting from WILL, NPR, and other sources"}
{preload_replace:pre_keywords="News, Public Affairs, WILL, Illinois Public Media, Radio, Public Radio, University of Illinois, Illinois, NPR"}
{preload_replace:pre_limit="10"}
{preload_replace:pre_show_future="no"}
{preload_replace:pre_show_expired="no"}
{preload_replace:pre_highlights_categories="72"}
{preload_replace:pre_section_template="news"}
{preload_replace:pre_tag_channel_template="news"}
{preload_replace:pre_sidebar_template="embeds/_embed_sidebar_news"}
{preload_replace:pre_channel_item_name="Stories"}
{preload_replace:pre_channel_description_entry_id="19028"}
{preload_replace:pre_offset="3"}
{preload_replace:pre_entry_order="date"}
{preload_replace:pre_entry_sort="desc"}
{preload_replace:pre_player_template="/player/audio"}
{preload_replace:pre_disable="member_data|categories"}
{preload_replace:pre_mp3_download="yes"}
{preload_replace:pre_rss_feed="yes"}
{preload_replace:pre_show_tags="yes"}
{preload_replace:pre_show_date="yes"}
{preload_replace:pre_show_video="no"}
{preload_replace:pre_show_sharelink="yes"}
{preload_replace:pre_show_commentlink="yes"}
{sn_articles}
</pre>

<p>As you can see there are many defined variables being passed to the snippets. The most important pieces of this are the variable <code>{pre_channel}</code>, which defines the channel or channels being passed to the snippet, and the last line <code>{sn_articles}</code> which defines which snippet all this is passed to.</p>

<p>If you study the snippet, most of the rest are fairly obvious. For example <code>{pre_logo}</code> defines which image file to use in the header for the logo. <code>{pre_description}</code> and <code>{pre_keywords}</code> supply values for the meta tags in the <code><head></code> section.</p>

<h4>Less obvious variables</h4>
<ul>
  <li>The <code>{pre_highlights_categories}</code> variable contains the Entry ID number of an entry in Channel Descriptions. So "19028" is the entry_id for the entry "Illinois Public Media News" in the Channel Desciptions channel. </li>
  <li><code>{pre_tag_channel_template}</code> is a variable passed to template in the "tags" template group. Any time you see a tag cloud, or a page using the "tags" template, this variable is important for connecting things.</li>
  <li><code>{pre_offset}</code> is used as a conditional value for <code>{sn_articles}</code>. If the value is "3" then three stories will appear at the top of the web page as seen on the News home page: <a href="http://will.illinois.edu/news/">http://will.illinois.edu/news/</a>. If the value is not "3" the the stories will simply flow down the page like most sections do. As seen on the News home page, this allows more than one story to appear above the fold. (The value of this is increasingly dubious with the acsendance of mobile, but for now that's how we're laying this out.)</li>
  <li>Most of the remaining <code>{preload_replace}</code> variables are switches used in conditionals in the snippets. You can figure them out pretty easily by reading the snippet code. There are a few deprecated variable, like <code>{pre_show_commentlink}</code> which was used to enable or disable commenting for a given channel template. But since then we disabled commenting for the entire site, so this variable doesn't currently do anything. Similarly you might find other variables that don't do anything, which is something to clean up during the next iteration of the site.</li>
  </ul>
</section>

      
           <!-- Parse Order
    ================================================== -->        
        <section id="parse-order">
          <div class="page-header">
            <h2>ExpressionEngine’s Parse Order</h2>
          </div>  
        <p class="lead">Here is the key to how this all works in ExpressionEngine.</p>  

        <p>Templates, Snippets, and the other elements are parsed by EE in a specific order. It’s important to understand parse order to follow the logic of page generation. Templates define variables, then pass them to Snippets. Snippets contain Embedded Templates, Global Variables, and Low Variables. Each of these elements is parsed by EE in a specific sequence.  Here’s a handy guide to EE Parse Order:</p>

        <p><a href="http://loweblog.com/downloads/ee-parse-order.pdf" target="_blank">http://loweblog.com/downloads/ee-parse-order.pdf</a></p>

        <p>Once you understand EE parse order, you can see how efficient everything fits together. 99 percent of the WILL website is generated by two snippets, <code>{sn_articles}</code> and <code>{sn_article}</code>. The only difference is the variables passed to these two snippets by the <code>{preload_replace}</code> values in the templates.</p>

        <p>For an excellent description of this design approach in EE, see the blog post <a href="http://gotolow.com/blog/snippets-and-preload-replace-variables">Snippets and Preload Replace Variables by Lodewijk Schutte</a></p>

        <p><em>Improvements could undoubtedly be made in the way the WILL site is currently put together. EE has evolved since then, with new features like Layouts and Template Routes. The next iteration of the site would be the time to consider this.</em></p>
      </section>
      
      
           <!-- Snippets
    ================================================== -->        
        <section id="snippets">
          <div class="page-header">
            <h2>Snippets</h2>
          </div>       

        <p class="lead">Snippets do most of the heavy lifting in pulling content from the database. The main snippets used throughout the site are:<p>

        <ul>
          <li>{sn_articles}</li>
          <li>{sn_article}</li>
        </ul>

        <p>These two snippets contain the markup and logic for about 99 percent of the entire site.  The {sn_article} snippet generates home “list” pages of content for most of the major WILL content channels, and the {sn_article} snippet creates single-entry pages for each entry in that channel.</p>

        <p>For each content channel, its index template uses {sn_articles} to create a Home page with a number of entries in summary form. In the template group for that channel, there will be a “story” or “program” template that uses {sn_article} to generate full, single-entry pages. The {sn_articles} snippet is expecting a url_title variable to be passed as part of any links to it (usually as a segment_3), so it can pull in the data for that entry.</p> 

        <p>For example, here is the News home page url using {sn_articles}:</p>
        
        <blockquote>http://will.illinois.edu/news</blockquote>

        <p>And here is a News story url containing a url_title variable as part of its url:</p>
        
        <blockquote>http://will.illinois.edu/news/story/school-consolidation-referendum-sparks-disagreement</blockquote>


        </section>    
        
               
     <!-- Embeds
    ================================================== -->        
        <section id="embeds">
          <div class="page-header">
            <h2>Embeds</h2>
          </div>
          <p class="lead">Embedded templates are used in most pages, providing sidebars and other secondary content. Conditional logic is used in many snippets to determine which embedded template is used. </p>
          <p>For example in the {sn_homepage} snippet, different sidebars are displayed depending on what’s in segment_1 of the url. So <em>http://will.illinois.edu/tv</em> gets a sidebar based on the template <em>embeds/_embed_sidebar_tv</em>, while <em>http://will.illinois.edu/am</em> gets the sidebar for WILL-AM which is <em>embeds/_embed_sidebar_am</em>. This kind of logic is used in many snippets. </p>

          <p>Because Embeds are processed later in the EE parse order, when they are embedded in a Snippet it’s necessary to pass pre-defined variables to them from the Snippet. For example:</p>
        <ul>
          <li>The template site/index defines a variable of <code>{pre_highlights_categories}</code> and assigns it a value of “66”. </li>
          <li>The Snippet <code>{sn_homepage}</code> converts the <code>{pre_highlights_categories}</code> variable instantly to “66” wherever it appears in the Snippet. </li>
          <li>Since the Embed is processed after the Snippet has converted it to “66” we can’t pass on {pre_highlights_categories} to the Embed.</li>
          <li>We can however, in the Snippet, use <code>{pre_hightlights_categories}</code> to pass the value of "66" to an Embed variable, which we also define in the Snippet by saying something like: 
          <pre>{embed="{pre_sidebar_template}" embed_channels="{pre_channel}" embed_path_root="{channel_url}" embed_pre_section_template="{pre_section_template}" embed_highlights_category="{pre_highlights_categories}"}</pre>
          </li>
          <li>Inside the Embed, the exp:channel:entries tag can then use embed_highlights_categories to declare <code>categories=”{embed_highlights_categories}”</code> which the Embed sees as the value “66” we passed from the Snippet.</li>
        </ul>        
        <h3>Embeds examples</h3>
        <ul>
          <li>embeds/_embed_agriculture_links – Used on main Home page</li>
          <li>embeds/_embed_sidebar_home – Sidebar on Home page. Includes other embedded elements</li>
          <li>embeds/_embed_social_metadata – contains social metadata for any page that uses the snippet {sn_articles}</li>
        </ul>
        <p>There are many other embedded templates, and they're all located in the Embeds template group. Once you follow the logic for the sidebars, you'll understand how they all work.</p>         
    </section>
    
               
     <!-- Global Variables
    ================================================== -->        
        <section id="gv">
          <div class="page-header">
            <h2>Global Variables</h2>
          </div>
          <p class="lead">User defined Global Variables contain static content, and are processed very late in the EE parsing order. They are used for links to stylesheets and scripts, or static bits of markup used throughout the site. </p>
          <p>We use the prefix “gv_” in the name of Global Variables to make them easy to spot inside Templates and Snippets.</p>
          <p>The only exception to the above is in the case of Low Variables, which also appear inside the Global Variables control panel. To keep them straight, we use the prefix “lv_” for all Low Variables.</p>
        </section>
        
               
     <!-- Low Variables
    ================================================== -->        
        <section id="lowvariables">
          <div class="page-header">
            <h2>Low Variables</h2>
          </div>
          <p class="lead">Low Variables is an Addon Module that provides a different parsing order for variables, depending on how you want to use them. For example, you can set a Low Variable for parsing before Snippets, so they can process dynamic content before the Snippet is parsed.</p>
          <p>The Low Variable <code>{lv_edit_this}</code> is used in this way to insert “Edit This” links in content pages if the user is logged in to EE. </p>
          <p>But Low Variables can also be used to hold static content we want to allow users to edit, like {lv_card_support} which is the fundraising message on the home page.</p>
          <p>Low Variables can use all the different field types installed in the EE instance, including WYGWAM, Related Entires, and all the rest.  We might find it useful to expand use of Low Variables, but I’ve kept it to a minimum to avoid complicating the site and adding dependencies on Addons.</p>
          <p>Documentation on the Low Variables module is available here: <a href="http://gotolow.com/addons/low-variables" target="_blank">http://gotolow.com/addons/low-variables</a></p>
          <p><strong>Important: The Low Variable <code>{lv_edit_this}</code> contains a string of conditionals like <code>if logged_in_group == "1" OR etc</code>. This means if the person looking at the font-end web page is logged in to the CMS, and they are a member of the specified member group, they'll see a link to "Edit This" entry on the web page. So if a new member group is created, a new conditional for it must be added to this Low Variable. Because this Low Variable contains a great many conditional statements, it's very easy to misplace a character while editing. This will result in very bad things on every page of the site, so be very careful when editing this Low Variable.</strong></p>
        </section>
        
                
     <!-- Static Templates
    ================================================== -->        
        <section id="statictemplates">
          <div class="page-header">
            <h2>Static Templates</h2>
          </div>
        <p class="lead">A few templates don’t use Snippets, but contain all of their own markup:</p>  
        <ul>
          <li>sitemap/index</li>
          <li>contact/index</li>
          <li>contact/webmaster</li>
          <li>weather/index</li>
          <li>am/willplayer</li>
          <li>weather/index (contains PHP, and requires PHP to be enabled in template Preferences)</li>
        </ul> 
        <p>These templates rarely if ever change, so don't need to be any more complicated.</p>
        </section>          
                
     <!-- Audioplayers: How they work
    ================================================== -->        
        <section id="audioplayers">
          <div class="page-header">
            <h2>Audioplayers: How they work</h2>
          </div>
          <p class="lead">The “player/audio” template is used for all audio archives.</p>
          <p><em>player/audio</em></p>
          <p>The player/audio template uses {sn_audioplayer} for the player window markup.  {sn_audioplayer} contains the exp:channel:entries tags which pull in the entry_id from channel, which causes the player to display the entry title, an image if available, and the mp3 file url.</p>
          <p>Make sure the channel you want audio to play from is added to {sn_audioplayer_channels}.</p>
          <p><em>player/audioplayer_newscast</em></p>
          <p>Used for the WILL Newscast which is always the same file name. This template passes title metadata and a static url for the newscast audio file to {sn_audioplayer_static_audio_url}.  The snippet contains the player markup. The same snippet can be used for any other players that need a static audio url, either a file or a live steam. </p>
          <p>Newscast audio url: http://audio01.will.illinois.edu/WILLAM580newscast.mp3</p>
          <p><em>player/audioplayer_irr</em></p>
          <p>Used for the Illinois Radio Reader live stream. This also uses {sn_audioplayer_static_audio_url}, and passes the IRR live stream url to the snippet. </p>
          <p>IRR live stream url: http://icecast.will.illinois.edu:8000/WILL-IRR</p>
          <p><em>am/willplayer and fm/willplayer</em></p>
          <p>These templates reflect legacy urls from past WILL websites. We kept them the same for that reason. They contain all the markup for the WILL-AM and WILL-FM live stream players, including static links to the stream urls. </p>
          <p>These templates can be enhanced in various ways. They contain a “promocard” section that can be used for promotional announcements, underwriting, or anything else. These currently contain a static fundraising message, but the plan is to make them dynamic and editable by Marketing.</p>          
          
        </section>    
        
     
      </div>
    </div>
  </div>

{% include footer.html %}

  </body>
</html>

<!-- Localized -->