---
title: "Home Page"
description: "Writings on innovation, community, and technology"
---

<!DOCTYPE html>
 {% include head.html %}

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

 {% include nav.html %}

<div class="jumbotron masthead">
  <div class="container">
    <h1>WILL Website Guide</h1>
    <p>A complete reference to WILL website structure, content creation, and editorial guidelines for authors, project managers, designers</p>
   
    <ul class="masthead-links">
      <li>
        Version 2.1
      </li>
    </ul>
  </div>
</div>

<div class="bs-docs-social">
  <div class="container">

  </div>
</div>

<div class="container">

  <div class="marketing">

    <h1>Don't Panic!</h1>
    <p class="marketing-byline">Need to know how to do everything with our site? This is the place to look.</p>
    <p class="lead" style="text-align:left;">The WILL website is built for clarity. It uses <strong>design patterns</strong> or predictable blocks of content that appear consistently throughout the site. This makes it easier for users to find what they’re looking for. It should make your life easier as author, giving you freedom to create content without worrying about putting it in the right place at the right time. You should have creative freedom, and our users should have a great experience. Our promise is a great website for all concerned. This manual provides the details.</p>

    <div class="row-fluid">
      <div class="span4">
        <a href="intro"><img class="marketing-img" src="{{ site.urlimg }}bs-docs-twitter-github.png"></a>
        <h2><a href="intro">For Content Authors</a></h2>
        <p>If you create, publish, edit, manage, delete, or adore doing things with any kind of content on the WILL website, this is the place to get started.</p>
      </div>

      <div class="span4">
        <a href="branding"><img class="marketing-img" src="{{ site.urlimg }}bs-docs-bootstrap-features.png"></a>
        <h2><a href="branding">For Section Owners</a></h2>
        <p>If you manage a program, project, or department that has its own website section, you are the section owner. Here's your owner's manual.</p>
      </div>
      
      <div class="span4">
        <a href="managers"><img class="marketing-img" src="{{ site.urlimg }}bs-docs-responsive-illustrations.png"></a>
        <h2><a href="managers">For Web Site Managers</a></h2>
        <p>How was this site designed and built? If you are the site manager, what would be really helpful to know beyond the markup? Here's a complete guide.</p>
      </div>
    </div>


  </div>
</div>

{% include footer.html %}

  </body>
</html>