---
title: "WILL Website Obscura"
description: "How to do hard to find things"
---

<!DOCTYPE html>
 {% include head.html %}

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

 {% include nav.html %}

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>WILL Website Obscura</h1>
    <p class="lead">How to do some of the unique things</p>

    <div id="carbonads-container">
      <div class="carbonad">
        <img src="{{ site.urlimg }}CP-Home-ExpressionEngine.png" width="280"/>
      </div>
    </div>    
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#will-alert"><i class="icon-chevron-right"></i> WILL dismissible alerts</a></li>
          <li><a href="#tag-based-special-projects"><i class="icon-chevron-right"></i> Tag-based Content Collections</a></li>
          <li><a href="#url-redirects"><i class="icon-chevron-right"></i> URL redirects</a></li> 
		      <li><a href="#will-podcasts"><i class="icon-chevron-right"></i> WILL podcasts</a></li> 
        </ul>
      </div> <!-- span3 -->
      
      <div class="span9">


    <!-- WILL drop-down alerts    ================================================== -->
        <section id="will-alert">
          <div class="page-header">
            <h2>WILL dismissible alerts</h2>
          </div>
          <p class="lead">The website has the capability to display dismissible alerts such as when transmitter maintenance will take the station off the air, or a special fundraising message, etc.</p>
          <p>Several of these alerts currently exist in the CMS, but the display of these alerts are usually disabled by commenting out their code. To enable display, remove the "comment out" elements.</p>
          <p>Here's an example alert on the WILL Home page:</p>
          <img src="{{ site.urlimg }}will-website-alert.png" alt="website alert as shown on the WILL Home page">
          <p>To create or update these alerts, two things must be done./p>
          <p>First, write or update the copy that will be displayed. This is done in Add-ons -> Modules -> Low Variables -> Editable content. This is also where we disable display of the alert by commenting out the code, or enabling display by removing the html "comment out" elements.</p>
		  <h4>Here's a sample of the code for an "Off the Air" alert:</h4>
		  <p><code>&lt;div class="alert alert-warning alert-dismissible" role="alert"&gt;<br />
  &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;&lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;&lt;/button&gt;<br />
  &lt;strong>Notice:&lt;/strong><br />On Wednesday evening July 15, WILL is performing maintenance at
  <br />our Monticello transmitter site. From the hours of 7 pm Wednesday to 6 am Thursday morning, our FM 
  <br />90.9 broadcast will be off the air while tower climbers replace parts of our TV transmission
  <br />line. During the outage of FM 90.9, our FM program service will continue from our 101.1 translator 
  <br />in Urbana and online at our website. We apologize for the inconvenience during this necessary 
  <br />maintenance work.
&lt;/div&gt;</code></p>
          <p>Second you need to tell ExpressionEngine where to display the alert. To add the alert, go to Template Manager -> Snippets. To add to the main home page, go to the <a href="https://will.illinois.edu/admin.php?/cp/design/snippets_edit&snippet=sn_homepage&S=64bd05506c08b45bb0c1ed227d35604d">sn_homepage</a>. To add the alert to other home pages, you need to do similar things to sn_homepage_agriculture, sn_homepage_education, sn_homepage_fm, etc.</p>
          <p>The lv_alert_pledge and lv_alert_problem snippets are already added to the main home page, placed just above the slideshow at the top. That's probably the best place for these and other alerts, but stacking them would be visually problematic.</p>
		  
		  <h4>To add the Low Variable to the page, paste the Low Variable into the snippet</h4>
      <p>In this case we're adding the Pledge Alert:</p>
		  <p><code>{exp:low_variables:single var="lv_alert_pledge"}</code></p>
      <p>Replace "lv_alert_pledge" with the name of whatever alert you need to display.</p>
      <p>Remember to comment out the lv_(whatever_alert) snippet when the need for it is done and you don't want the alert to display!</p>
      </section>

    <!-- Tag-based Content Collections    ================================================== -->     
      <section id="tag-based-special-projects">
        <div class="page-header">
          <h2>Tag-based Special Project Pages</h2>
        </div>   
        <p class="lead">Sometimes we need a page for displaying content tagged with a specific keyword/tag. This is different from the unique pages created automatically for each tag in the CMS. This section will explain why we sometimes need something different, and how to create a special tag-based collection.</p>
        <h3>What's Different about a Tag-based Content Collection</h3>
        <p>Let's say we have special project about the Supplemental Nutrition Assistance Program (SNAP). We're going to produce News stories, do interviews on The 21st, and produce some video segments and whatever else. We want a special project page for the SNAP series and in addition to the content, that page should have its own SNAP series branding and description.</p>
        <p> Let's say for example like <a href="https://will.illinois.edu/news/snapseries" title="this SNAP Series page">this SNAP Series page</a>.</p>
        <p>This is different from a regular tag page in several ways: 
          <ul>
            <li>The regular tag page for the tag "snap-series" displays the same content but doesn't have a unique brand and description, and there's no way to add these without changing the way all regular tag pages work. We want the SNAP series page to look like a special project.</li>
            <li>Regular tag pages behave differently in other ways. For example, the <a href="https://will.illinois.edu/tags/snap">tag page for "snap"</a> displays all posts tagged snap, and that's more than we want in our special series. Regular tag pages only display the post titles, and include content from all channels. We may not want that for our special series.</li>
            <li>We also have some regular tag pages designed to display tag-based content only from specific channels. For example the template <code>tags/news</code> displays only News channel content based on its tag, like <a href="https://will.illinois.edu/tags/news/affordable-care-act/">https://will.illinois.edu/tags/news/affordable-care-act/</a>. In this case "affordable-care-act" in the 3rd url segment is the url-safe representation of the tag "Affordable Care Act". And the template <code>tags/news</code> is set to only display News content with that or any other tag.</li>
          </ul>
        <p>But with a special project we need more than a regular tag page. The project page needs a description at the top, and it can display posts from any channels you specify when setting it up. Here's how to do that.</p>
        <h3>Setting up a Tag-based Special Project Page</h3>
        <p>Here are the ingredients:</p>
        <ol>
          <li>A description for the project as an entry in the Channel Descriptions channel. Should contain some kind of branding image along with a short about of text.</li>
          <li>A new template for the project. It doesn't matter which Template Group the template is in, especially if we're going to include content from more than one channel.</li>
          <li>A tag to use for the project. Very likely this is a tag created for just the project, so as to limit the number of entries the page will display to just those you really want to display. For example with the SNAP Series project the tag was "snap-series" and not "snap", because the latter pulls in a ton of entries we didn't want to display on the project page.</li>
        </ol>
        <h4>The Template</h4>
        <p>You can copy the page template from another tag-based project (like news/snapseries), but here's the basic idea:</p>
        <script src="https://gist.github.com/jackbrighton/0f9d33b8eec40b98539dff7511651b33.js"></script>
        <h5>Do this:</h5>
        <ol>
          <li>Include the correct Channel Description id for the project, and make sure to use url-safe tags in the pre-tags variable. Probably use only one tag, to limit entries to just those wanted for the series.</li>
          <li>Include the specific channels from which content will display on the project page.</li>
          <li>Edit the text for the other variables as needed. The pre_title and pre_description variables are used for metadata in the pages head section, and nowhere else.</li>
          <li>Include the appropriate sidebar.</li>
          <li><strong>OK and very important: Make sure whoever is posting content for the project knows what tag to use</strong>.</li>
          <li>The snippet <code>{sn_articles_by_tag}</code> does the rest.</li>
        </ol>



    <!-- URL Redirects    ================================================== -->        
      <section id="url-redirects">
        <div class="page-header">
          <h2>URL Redirects</h2>
        </div>
        <p class="lead">We can create an arbitrary custom url, using the site domain of <code>will.illinois.edu</code>, and redirect it to any other url.</p>
        <h3>Example use case</h3> 
        <p>Let's say we need a human-readable link to an Allegiance pledge form. So we want a url of e.g. <code>https://will.illinois.edu/ThinkAgain</code> and have it redirect to the Allegiance form (which has a long and complicated url).</p>
        <p>What to do? Create a url redirect!</p>
        <h3>How to create a url redirect</h3>
        <ul>
          <li>Create a new entry in the WILL Pages channel.</li>
          <li>Enter the starting url in the Pages URI field, e.g. <code>/ThinkAgain</code>. As always with the Pages URL, the site domain is included automatically before the first backslash.</li>
          <li>In the Template dropdown select <code>pages/redirect</code></li>
          <li>In the Links to other Web Pages field, enter the destination url for the redirect, e.g. that long and complicated Allegiance web form.</li>
          <li>Save the entry and boom, the redirect will start working.</li>
        </ul>
        <h3>How the pages/redirect template works</h3>
        <p>The pages/redirect template consists of one simple code block:</p>
<script src="https://gist.github.com/jackbrighton/6555c34a3696c4755e8699b92ed04492.js"></script>
        <p>Since the template doesn't need to render any html, it doesn't need any markup. Just the meta tag that redirects to the <code>link_url</code> in the entry.</p>

      </section>    

    <!-- Displaying Podcasts    ================================================== -->
      <section id="will-podcasts">
        <div class="page-header">
          <h2>WILL Podcasts</h2>
        </div>
        <p class="lead">We can display podcasts as html on the site. The 21st, Environmental Almanac, and Legal Issues in the News are examples.</p>
        <p>First you have to write and update the copy that will be displayed. This is done in Add-ons -> Modules -> Low Variables -> Editable content in the lv_alert_problem local variable.</p>
		    <p>Embed code:<br />
		      <code>&lt;div class="pb-embed" data-feed="http://will.illinois.edu/21stshow/rss" data-limit="XXXX">&nbsp;&lt;/div&gt;
		&lt;script src="https://will.illinois.edu/WILLPodcastEmbed.js"&gt;&lt;/script&gt;
          </code>
        <p>Replace the RSS URL with the URL of the podcast you want to embed on another site. Replace XXXX with the number of items from the feed that you want to display.</p>
      </section>	
		
      </div>
    
	
	</div>

  </div>

{% include footer.html %}

  </body>
</html>

<!-- Localized -->