---
title: "WILL Website Obscura"
description: "How to do hard to find things"
---

<!DOCTYPE html>
 {% include head.html %}

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

 {% include nav.html %}

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>WILL Website Obscura</h1>
    <p class="lead">How to do hard to find things</p>

    <div id="carbonads-container">
      <div class="carbonad">
        <img src="{{ site.urlimg }}CP-Home-ExpressionEngine.png" width="280"/>
      </div>
    </div>    
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#will-alert"><i class="icon-chevron-right"></i> WILL drop-down alerts</a> 
		  <li><a href="#will-podcasts"><i class="icon-chevron-right"></i> WILL podcasts</a> 
        </ul>
      </div> <!-- span3 -->
      
      <div class="span9">


    <!-- WILL drop-down alerts    ================================================== -->
        <section id="will-alert">
          <div class="page-header">
            <h1>WILL drop-down alerts</h1>
          </div>
          <p class="lead">The website has the capability to display dismissable alerts such as when transmitter maintenance will take the station off the air. To create these alerts, two things must be done. </p>
          <p>First you have to write and update the copy that will be displayed. This is done in Add-ons -> Modules -> Low Variables -> Editable content in the lv_alert_problem local variable.</p>
		  <p>Sample code:<br />
		  <code>&lt;div class="alert alert-warning alert-dismissible" role="alert"&gt;<br />
  &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;&lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;&lt;/button&gt;<br />
  &lt;strong>Notice:&lt;/strong><br />On Wednesday evening July 15, WILL is performing maintenance at
  <br />our Monticello transmitter site. From the hours of 7 pm Wednesday to 6 am Thursday morning, our FM 
  <br />90.9 broadcast will be off the air while tower climbers replace parts of our TV transmission
  <br />line. During the outage of FM 90.9, our FM program service will continue from our 101.1 translator 
  <br />in Urbana and online at our website. We apologize for the inconvenience during this necessary 
  <br />maintenance work.
&lt;/div&gt;</code>
          <p>Second you need to tell ExpressionEngine to display the alert. To add the alert, go to Template Manager -> Snippets. To add to the main home page, click sn_homepage. To add the alert to other home pages, you need to do similar things to sn_homepage_agriculture, sn_homepage_education, sn_homepage_fm, etc. etc.</p>
		  <p><a href="https://will.illinois.edu/admin.php?/cp/design/snippets_edit&snippet=sn_homepage&S=64bd05506c08b45bb0c1ed227d35604d">Shortcut to sn_homepage</a></p>
		  <p>Find the section where lv_alert_problem is mentioned, and add this line after the comment:<br />
		  <code>{exp:low_variables:single var="lv_severeweather_alert"}</code></p>
      </section>
        
	        <section id="will-podcasts">
          <div class="page-header">
            <h1>WILL Podcasts</h1>
          </div>
          <p class="lead">We can do podcasts on the site. The 21st, Environmental Almanac, and Legal Issues in the News are examples.</p>
          <p>First you have to write and update the copy that will be displayed. This is done in Add-ons -> Modules -> Low Variables -> Editable content in the lv_alert_problem local variable.</p>
		  <p>Embed code:<br />
		  <code><div class="pb-embed" data-feed="http://will.illinois.edu/21stshow/rss" data-limit="XXXX">&nbsp;</div>
<script src="https://will.illinois.edu/WILLPodcastEmbed.js"></script>
</code>

          <p>Replace the RSS URL with the URL of the podcast you want to embed on another site. Replace XXXX with the number of items from the feed that you want to display.</p>
      </section>	
		
      </div>
    
	
	</div>

  </div>

{% include footer.html %}

  </body>
</html>

<!-- Localized -->