---
title: "WILL Website Obscura"
description: "How to do hard to find things"
---

<!DOCTYPE html>
 {% include head.html %}

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

 {% include nav.html %}

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>WILL Website Obscura</h1>
    <p class="lead">How to do hard to find things</p>

    <div id="carbonads-container">
      <div class="carbonad">
        <img src="{{ site.urlimg }}CP-Home-ExpressionEngine.png" width="280"/>
      </div>
    </div>    
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#will-alert"><i class="icon-chevron-right"></i> WILL drop-down alerts</a></li>
          <li><a href="#url-redirects"><i class="icon-chevron-right"></i> URL redirects</a></li> 
		      <li><a href="#will-podcasts"><i class="icon-chevron-right"></i> WILL podcasts</a></li> 
        </ul>
      </div> <!-- span3 -->
      
      <div class="span9">


    <!-- WILL drop-down alerts    ================================================== -->
        <section id="will-alert">
          <div class="page-header">
            <h2>WILL drop-down alerts</h2>
          </div>
          <p class="lead">The website has the capability to display dismissable alerts such as when transmitter maintenance will take the station off the air, or a special fundraising message, etc.</p>
          <p>Several of these alerts currently exist in the CMS, but the display of these alerts are usually disabled by commenting out their code. To enable display, remove the "comment out" elements.</p>
          <p>To create or update these alerts, two things must be done. </p>
          <p>First, write or update the copy that will be displayed. This is done in Add-ons -> Modules -> Low Variables -> Editable content. This is also where we disable display of the alert by commenting out the code, or enabling display by removing the html "comment out" elements.</p>
		  <h4>Here's a sample of the code for an "Off the Air" alert:</h4>
		  <p><code>&lt;div class="alert alert-warning alert-dismissible" role="alert"&gt;<br />
  &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;&lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;&lt;/button&gt;<br />
  &lt;strong>Notice:&lt;/strong><br />On Wednesday evening July 15, WILL is performing maintenance at
  <br />our Monticello transmitter site. From the hours of 7 pm Wednesday to 6 am Thursday morning, our FM 
  <br />90.9 broadcast will be off the air while tower climbers replace parts of our TV transmission
  <br />line. During the outage of FM 90.9, our FM program service will continue from our 101.1 translator 
  <br />in Urbana and online at our website. We apologize for the inconvenience during this necessary 
  <br />maintenance work.
&lt;/div&gt;</code></p>
          <p>Second you need to tell ExpressionEngine where to display the alert. To add the alert, go to Template Manager -> Snippets. To add to the main home page, go to the <a href="https://will.illinois.edu/admin.php?/cp/design/snippets_edit&snippet=sn_homepage&S=64bd05506c08b45bb0c1ed227d35604d">sn_homepage</a>. To add the alert to other home pages, you need to do similar things to sn_homepage_agriculture, sn_homepage_education, sn_homepage_fm, etc.</p>
          <p>The lv_alert_pledge and lv_alert_problem snippets are already added to the main home page, placed just above the slideshow at the top. That's probably the best place for these and other alerts, but stacking them would be visually problematic.</p>
		  
		  <h4>To add the Low Variable to the page, paste the Low Variable into the snippet</h4>
      <p>In this case we're adding the Pledge Alert:</p>
		  <p><code>{exp:low_variables:single var="lv_alert_pledge"}</code></p>
      <p>Replace "lv_alert_pledge" with the name of whatever alert you need to display.</p>
      <p>Remember to comment out the lv_(whatever_alert) snippet when the need for it is done and you don't want the alert to display!</p>
      </section>
        
      <section id="url-redirects">
        <div class="page-header">
          <h2>URL Redirects</h2>
        </div>
        <p class="lead">We can create an arbitrary custom url, using the site domain of <code>will.illinois.edu</code>, and redirect it to any other url.</p>
        <p>Example use case: We need a simple link to an Allegiance pledge form. So we can make a url of <code>https://will.illinois.edu/ThinkAgain</code> and have it redirect to the Allegiance form (which has a long and complicated url).</p>
        <h3>How to create a url redirect</h3>
        <ul>
          <li>Create a new entry in the WILL Pages channel.</li>
          <li>Enter the starting url in the Pages URI field, e.g. <code>/ThinkAgain</code>. As always with the Pages URL, the site domain is included automatically before the first backslash.</li>
          <li>In the Template dropdown select <code>pages/redirect</code></li>
          <li>In the Links to other Web Pages field, enter the destination url for thue redirect, e.g. that long and complicated Allegiance web form.</li>
          <li>Save the entry and boom, the redirect will start working.</li>
        </ul>
        <h3>How the pages/redirect template works</h3>
        <p>The pages/redirect template consists of one simple code block:</p>
        <code>%7Bexp:channel:entries channel='pages'%7D
%7Bweblinks limit="1"%7D
<meta http-equiv="REFRESH" content="0;url=%7Blink_url%7D">
%7B/weblinks%7D
%7B/exp:channel:entries%7D</code>
        <p>Since the template doesn't need to render any html, it doesn't need any markup. Just the meta tag that redirects to the <code>%7Blink_url%7D</code> in the entry.</p>

      </section>    

      <section id="will-podcasts">
        <div class="page-header">
          <h2>WILL Podcasts</h2>
        </div>
        <p class="lead">We can do podcasts on the site. The 21st, Environmental Almanac, and Legal Issues in the News are examples.</p>
        <p>First you have to write and update the copy that will be displayed. This is done in Add-ons -> Modules -> Low Variables -> Editable content in the lv_alert_problem local variable.</p>
		    <p>Embed code:<br />
		      <code>&lt;div class="pb-embed" data-feed="http://will.illinois.edu/21stshow/rss" data-limit="XXXX">&nbsp;&lt;/div&gt;
		&lt;script src="https://will.illinois.edu/WILLPodcastEmbed.js"&gt;&lt;/script&gt;
          </code>
        <p>Replace the RSS URL with the URL of the podcast you want to embed on another site. Replace XXXX with the number of items from the feed that you want to display.</p>
      </section>	
		
      </div>
    
	
	</div>

  </div>

{% include footer.html %}

  </body>
</html>

<!-- Localized -->