---
title: "WILL Website Manual for Site Managers"
description: "Unusual website sections that need special attention"
---

<!DOCTYPE html>
 {% include head.html %}

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

 {% include nav.html %}

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>WILL Website Manual for Site Managers</h1>
    <p class="lead">Unusual website sections that need special attention</p>

    <div id="carbonads-container">
      <div class="carbonad">
        <img src="{{ site.urlimg }}CP-Home-ExpressionEngine.png" width="280"/>
      </div>
    </div>    
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#outliers"><i class="icon-chevron-right"></i> Outlier Website Sections</a></li>
          <li><a href="#education"><i class="icon-chevron-right"></i> Education</a></li>
          <li><a href="#youthmedia"><i class="icon-chevron-right"></i> Illinois Youth Media</a></li>
          <li><a href="#mentalhealth"><i class="icon-chevron-right"></i> Mental Health Special Series</a></li>
          <li><a href="#illinoisradioreader"><i class="icon-chevron-right"></i> Illinois Radio Reader</a></li>
          <li><a href="#tag-collection-pages"><i class="icon-chevron-right"></i> Tag-based Collection Pages (e.g. Elections)</a></li>
        </ul>
      </div> <!-- span3 -->
      
      <div class="span9">
          
        
     <!-- Outliers
    ================================================== -->        
        <section id="outliers">
          <div class="page-header">
            <h2>Outlier Website Sections</h2>
          </div>
          <p class="lead">Most content sections are very simple: a home "listing" page with summary views of multiple entries, and an "story" or "program" page for a complete view of single entries within the content section. But a few sections are more complex, and require unique design solutions.</p>
        </section>  


     <!-- Education Section
    ================================================== -->        
        <section id="education">
          <div class="page-header">
            <h2>Education Section</h2>
          </div>     
          <p>The <a href="http://will.illinois.edu/education">WILL Education Section</a> was revamped in 2015 to consist mostly of a new blog maintained by the Public Engagement Coordinator and the Educational Outreach Coordinator. The Index page and the blog pages use the same Tagger-based filtering as described above in the Election 2014 section.</p>
          <p>The sidebar labeled WILL Education Links contains legacy content that should probably either be updated or archived. The Book Mentor Project may need to be revised, as there may be a desire to post new content to it, but this is as yet undefined.</p>       
          <p>The index template uses a unique <code>{sn_homepage_education}</code> to display a 2x2 grid of Education Blog posts sorted by tag. The Education Blog displays all blog entries, and has four sub-blogs sorted by the four main tags:</p>
        <ul>
          <li>Youth Made Media (url-safe tag for template is youth-made-media)</li>
          <li>PBS Learningmedia (pbs-learningmedia)</li>
          <li>For Teachers (for-teachers)</li>
          <li>For Parents and Families (for-parents-and-families)</li>
        </ul>   
        <p><i class="icon-hand-right"></i> <em>Important: Blog authors must use these exact tags to allow posts to be correctly sorted. Adding a hyphen between any of the tag words entered conflicts with the url-safe tag, so hyphens should never be used in tags.</em></p>                                 
        </section>         

     <!-- Illinois Youth Media
    ================================================== -->        
        <section id="youthmedia">
          <div class="page-header">
            <h2>Illinois Youth Media</h2>
          </div>   
          <p>The Home page of <a href="http://will.illinois.edu/illinoisyouthmedia">the Illinois Youth Media</a> section uses the snippet <code>{sn_homepage_illinoisyouthmedia}</code> to create a display featuring the top three/most recent projects, and below that a grid showing all other projects. </p>
          <p>Project pages use a snippet named <code>{sn_homepage_projects}</code> to create a project Home page.  This snippet is also used for each single entry page in the project using <code>{if}</code> statements to display conditional markup. This is either extremely clever and elegant, or more complicated than it needs to be. </p>
          <p>Look carefully at the templates for each project to see variables like <code>{preload_replace:video_in_project="no"}</code> which are used for conditionals in the sidebar template. 
          <p>With a little more development, <code>{sn_homepage_projects}</code> might be useful for any future projects of any kind. This would require adding a variable-driven sidebar, at the very least. </p>
          </section>


     <!-- Mental Health
    ================================================== -->        
        <section id="mentalhealth">
          <div class="page-header">
            <h2>Mental Health</h2>
          </div> 

          <p>The template for this <a href="http://will.illinois.edu/mentalhealth">single-page legacy project</a> uses <code>{sn_articles_related_entries}</code> to display related entries from arbitrary channels, and a new channel Content Collections or <code>{collections}</code> to create a single entry containing the related entries. </p>
          <p>Important: The mentalhealth/index template contains a variable for <code>{pre_entry_id}</code>, which contains the entry_id of the Mental Health entry in the Content Collections channel. Like this: <code>{preload_replace:pre_entry_id="33111"}</code></p>
          <p>New collections can now be created simply by:</p>
        <ul>
          <li>adding a new template group named for the collection’s desired segment_2</li>
          <li>creating an entry in Content Collections with the related entries</li>
          <li>then adding the entry_id in the template’s <code>{pre_entry_id}</code> variable</li>
        </ul>
        </section>

     <!-- Illinois Radio Reader
    ================================================== -->        
        <section id="illinoisradioreader">
          <div class="page-header">
            <h2>Illinois Radio Reader</h2>
          </div> 
          <p>This section consists of two main web pages and the live audio player for IRR. The two pages are both created as WILL Pages. These point to the illinoisradioreader/index template, which uses the standard <code>{sn_pages}</code> snippet and the embeds/_embed_sidebar_illinoisradioreader template for its sidebar.  The audio player template is player/audioplayer_irr, and the sidebar contains the link to launch it.</p>
          <p>Recently added are four "podcast" pages containing a weeks worth of IRR archives of readings from four area newspapers. The Director of the IRR manages this content.</p>

        </section>

     <!-- Tag-based Collection Pages (e.g. Elections)
    ================================================== -->        
        <section id="tag-collection-pages">
          <div class="page-header">
            <h2>Tag-based Collection Pages (e.g. Elections)</h2>
          </div> 
          <p class="lead">Starting in 2014 we built a new kind of Election News page, which is a great template for using tags to aggregate content on one "collection" page.</p>
          <p>The idea is to use the Tagger module to display content from several channels. In the election2014 template group, the index page contains the following key <code>preload_replace</code> key:value pairs (plus other stuff):</p>
          <ul>
            <li><code>{preload_replace:pre_channel="features|news|newsnational|focus|highlights"}</code></li>
            <li><code>{preload_replace:pre_tags="election-2014"}</code></li>
            <li><code>{sn_articles_by_tag}</code></li>
          </ul>
          <p>The template calls the snippet <code>{sn_articles_by_tag}</code> which contains all the html and EE code to display the tagged entries. Here's the opening EE Tagger code:</p>
          <code>{exp:tagger:entries_quick channel="{pre_channel}" tag="{pre_tags}" orderby="entry_date" sort="desc" limit="10000"}</code>
          <p>The snippet simply displays any entries in the specified channels containing the tag “election-2014” (which is added to entries as election 2014, without the hyphen - the Tagger module adds hyphens between words, and the resulting string becomes the "uri safe tagname"). </p>
          <p>The other templates in the Election2014 group do the same thing using tags for the different election contests, e.g. the election2014/illinois-governor template contains this variable: <code>{preload_replace:pre_tags="illinois-governor-2014"}</code></p>
          <p>If you want to create a new project/template group that sorts content by tag, just include the right channels in the <code>{pre_channel}</code> variable, and the uri safe tagnames in the {pre_tag} variable. </p>     
          <p>Documentation on the EE Tagger extension is available here: <a href="http://www.devdemon.com/documentation/tagger/" target="_blank">http://www.devdemon.com/documentation/tagger/</a></p>  
          <h3>Content producers must use specified tags</h3>
          <p>This solution depends on content producers consistently using the specific tags with each entry intended for the collection. When setting up a new tag-based collection, make sure to document and communicate which tag(s) to use.</p>
          <p>The right sidebar of the Election 2014 templates also contains a feed pulling from the [NPR Story API](https://www.npr.org/api/index). In this case it's a feed of election stories but the API call can be changed to any other topic. For example, we used the NPR API to pull stories on Mental Health and display them on <a href="http://will.illinois.edu/mentalhealth">WILL's Mental Health project page</a>. 
        </section>  
        
                              
        
      </div>
    </div>

  </div>

{% include footer.html %}

  </body>
</html>

<!-- Localized -->