---
title: "Pages"
description: "How to Manage WILL Pages"
---

<!DOCTYPE html>
 {% include head.html %}

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

 {% include nav.html %}

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>WILL Website Manual for Site Administrators</h1>
    <p class="lead">How to Manage WILL Pages</p>

    <div id="carbonads-container">
      <div class="carbonad">
        <img src="{{ site.urlimg }}CP-Home-ExpressionEngine.png" />
      </div>
    </div>    
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#will-pages"><i class="icon-chevron-right"></i> WILL Pages</a> 
          <li><a href="#contribute"><i class="icon-chevron-right"></i> Contribute to WILL</a></li>
          <li><a href="#corporate"><i class="icon-chevron-right"></i> Corporate Support</a></li>
          <li><a href="#tvschedules"><i class="icon-chevron-right"></i> TV Schedules</a></li>
          <li><a href="#radioschedules"><i class="icon-chevron-right"></i> Radio Schedules</a></li>
        </ul>
      </div> <!-- span3 -->
      
      <div class="span9">


    <!-- About WILL Pages    ================================================== -->
        <section id="will-pages">
          <div class="page-header">
            <h1>WILL Pages</h1>
          </div>
          <p class="lead">The website contains many unique pages that are maintained in the channel called WILL Pages. Each entry in WILL Pages is given a Pages URI, which is different from a normal EE entry url in that it can be anything. The entry is also assigned to a specific template via the Template dropdown list. For example our About page is a WILL Page entry given the Pages URI of “/about”, and assigned to the template “pages/about”. </p>
          <p>WILL Pages are stand-alone web pages that are mostly static. They could be hand-coded but that would require any edits to be made by the Webmaster, so we're using the EE Pages Module to maintain them. There are a few <strong>very important pages</strong> with particular quirks.</p>
          <p>Most WILL Pages are straightforward. But there are a few fairly complicated Pages that require special care when editing. We keep the WILL Pages section fairly locked down in terms of user access for this reason.</p>
          <p><strong>Several entries include markup that is stripped by ExpressionEngine when you reopen the entry for editing. This is actually the WYGWAM field (Description) trying to protect from malicious code being injected into the database. WYGWAM strips out key part of the markup, messing up the entire page. The solution is to edit the markup in a standard text/html editor, then paste it into the WYGWAM Description field in Source view. WYGWAM doesn’t mess up the markup on save, just upon re-opening the entry for editing.</strong></p>
      </section>
        
        <!-- Contribute to WILL
        ================================================== -->
        <section id="contribute">
          <div class="page-header">
            <h2>Contribute to WILL</h2>
          </div>
          <p class="lead">The most important WILL Page is the Contribute to WILL page. This has the url <a href="http://will.illinois.edu/support/pledgeform">http://will.illinois.edu/support/pledgeform</a>, and also the alias url <a href="http://willpledge.org">http://willpledge.org</a>. You'll find it in the WILL Pages section with the title of "Contribute to WILL". The Description field of this entry contains links to our pledge forms. These forms are hosted on another server: the Allegiance Web Module server. The forms themselves are created and maintained by Brenda Zimmerman in WILL's Development department. </p>
          <p>Brenda creates new forms from time to time, and will then give the Web department links to the new forms.  Edit the <em>Contribute to WILL</em> WILL Pages entry to update its links to the new forms. The for URLs are typically very long and hashy.</p> 

          <p>The "Contribute to WILL" WILL Pages entry contains Bootstrap and other markup that must be entered into the Description WYGWAM field as html. It also contains some custom classes that get stipped by WYGWAM upon opening the entry, which breaks the page design. The solution is to edit the markup outside of EE, then paste it into the entry's Description field in Source view.</p>
          <h3>Markup for Contribute to WILL page, last updated on 8/29/2015</h3>
          <p>Copy this code, edit as needed, and paste it into the WILL Pages entry "Contribute to WILL" in the Description field in Source view. Typically you'll only need to update the links to the webmodule forms.</p>
          
<script src="https://gist.github.com/jackbrighton/278eb8d9acc1c3e49392.js"></script>

</section>

        <!-- Corporate Support
        ================================================== -->
        <section id="corporate">
          <div class="page-header">
            <h2>Corporate Support</h2>
          </div>
          <p>This WILL Page contains complex markup including a Collapse section and html5 <audio> content including some JavaScript for the player.</p>
          <p><em>Repeating: Don’t try to edit this in EE</em>. Paste the markup into WYGWAM in Source view and it’ll save just fine. But when you re-open the entry, WYGWAM mangles the markup. </p>
          <p>Don’t even bother trying to edit this within the entry.</p>      
          <h3>Markup for the <a href="http://will.illinois.edu/support/corporatesupport">Corporate Support</a> WILL page, last updated on 8/29/2015</h3>
          <p>Copy this core, edit as needed, and paste it into the WILL Pages entry "Contribute to WILL" in the Description field in Source view.</p>   

<script src="https://gist.github.com/jackbrighton/a4f49d67ff907d93e614.js"></script>         

        </section>              
  


        <!-- TV Schedules
        ================================================== -->
        <section id="tvschedules">
          <div class="page-header">
            <h2>WILL-TV Schedules</h2>
          </div>
          <p>The <a href="http://will.illinois.edu/tv/schedule">TV Schedules page</a> is generated by an entry in the WILL Pages channel entitled WILL-TV Schedule. This entry has an iframe in its Description field, which appears blank until you click on the Source view button in the toolbar.</p>
          <p>Then you'll see a simple iframe which pulls in the schedules content from the Proweb application which runs on the Protrack server maintained by the WILL Traffic department. Proweb provides several embeddable widgets which are somewhat customizable thru the <a href="http://pw.myersinfosys.com/will/admin-account">Proweb administrative interface</a>.</p>      
          <p>The key documentation is the file WILL_proweb_4.0_manual.pdf which is in the WILL Website Documentation/Proweb folder on Box.</p>   
          <p><em>Note: Proweb is currently running as http, and won’t respond to https. Maybe this is configurable in the application, but I haven’t yet looked. Meanwhile, the schedule modules from both PBS and NPR also don’t work under https, so Proweb is not a step backwards.  If the WILL site is ever to run full https, these problems will have to be solved. (I have made it known to both NPR DS and PBS Digital that this is an issue.)</em></p>
        </section>                       
   
        <!-- Radio Schedules
        ================================================== -->
        <section id="radioschedules">
          <div class="page-header">
            <h2>WILL Radio Schedules</h2>
          </div>
          <p>The WILL Radio Schedule pages are generated by entries in the WILL Pages channel. Each of the entries has an iframe in its Description field, which appears blank until you click on the Source view button in the toolbar. Then you'll see a simple iframe which pulls in the schedules content.</p>
          <p>The WILL FM 101.1 schedule is a simple html table inserted into the entry. This schedule almost never changes to it can remain static.</p>
          <p>The WILL AM 580 and WILL FM 90.9 schedules are iframe widgets generated by an NPR DS product called Composer 2. They are not very tweakable or responsive but are an impovement over the previous NPR DS schedules product called Composer Pro.</p> 
          <p>The administrative interface for Composer 2 is here: <a href="http://composer.nprstations.org/login">http://composer.nprstations.org/login</a>.  The Administrator password is in the WILL IT password vault.</p>   
          <p><em>Note: The schedule modules from Composer 2 don’t work under https.  If the WILL site is ever to run full https, this will have to be solved. (I have made it known to NPR DS that this is an issue.)</em></p>
        </section>   

      </div>
    </div>

  </div>

{% include footer.html %}

  </body>
</html>

<!-- Localized -->