---
title: "Pages"
description: "How to Publish a single Page"
---

<!DOCTYPE html>
 {% include head.html %}

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

 {% include nav.html %}


<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>WILL Website Manual for Content Authors</h1>
    <p class="lead">How to Publish Web Content: How to Publish a single Page for special content</p>

    <div id="carbonads-container">
      <div class="carbonad">
        <img src="{{ site.urlimg }}WILL-Home-Page.png" width="250" alt="WILL Home page"/>
      </div>
    </div>    
</header>



  <div class="container cd-container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">

      
      <div class="span12">


    <!-- Metadata Requirements
    ================================================== -->
        <section id="shift">
          <div class="page-header">
            <h2>What is a Page?</h2>
          </div>
          <p class="lead">A Page is used for static content, like the About WILL page. Pages aren't part of a series of posts displayed by date like on the News page. Use the WILL Pages section to create a singular stand-alone web page, like the _About_ page.</p>
          <h3>How to create a Page</h3>
          <ol>
            <li>Log into ExpressionEngine and go to create an entry like any other post. </li>
            <li>In the dropdown list of sections to post to, select WILL Pages.</li>
          </ol>
          <p>The entry form for WILL Pages is almost the same as for any other post, with one exception. Near the top of the entry form you'll see a _Pages URI_ field and a _Template_ dropdown list:</p>   
          <img src="/assets/img/EE-page-edit-screen.png" alt="WILL Pages entry form">
          <p>In the _Pages URI_ field, you can assign a custom url to the page you're creating. Enter only the part of the url after _will.illinois.edu_. In the case of the _About_ page, we want to final url to be _will.illinois.edu/about_, so we just need to enter _/about_ in the _Pages URI_ field.</p>
      
      </section>
                                      
        
      </div>
    </div>

  </div>
{% include footer.html %}
</html>

<!-- Localized -->