---
title: "Pages"
description: "How to Publish a single Page"
---

<!DOCTYPE html>
 {% include head.html %}

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

 {% include nav.html %}


<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>WILL Website Manual for Content Authors</h1>
    <p class="lead">How to Publish Web Content: How to Publish a single Page for special content</p>

    <div id="carbonads-container">
      <div class="carbonad">
        <img src="{{ site.urlimg }}WILL-Home-Page.png" width="250" alt="WILL Home page"/>
      </div>
    </div>    
</header>



  <div class="container cd-container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">

      
      <div class="span12">


    <!-- Metadata Requirements
    ================================================== -->
        <section id="shift">
          <div class="page-header">
            <h2>What is a Page?</h2>
          </div>
          <p class="lead">A Page is used for static content, like the About WILL page. Pages aren't part of a series of posts displayed by date like on the News page. Use the WILL Pages section to create a singular stand-alone web page, like the <em><a href="https://will.illinois.edu/about">About</a></em> page.</p>
          <h3>How to create a Page</h3>
          <ol>
            <li>Log into ExpressionEngine and go to create an entry like any other post. </li>
            <li>In the dropdown list of sections to post to, select WILL Pages.</li>
          </ol>
          <p>The entry form for WILL Pages is almost the same as for any other post, with one exception. Near the top of the entry form you'll see a <em>Pages URI</em> field and a <em>Template</em> dropdown list:</p>   
          <img src="assets/img/EE-page-edit-screen.png" alt="WILL Pages entry form">
          <p>In the <em>Pages URI</em> field, you can assign a custom url to the page you're creating. Enter only the part of the url after _will.illinois.edu_. In the case of the <em>About</em> page, we want to final url to be <em>will.illinois.edu/about</em>, so we just need to enter <em>/about</em> in the <em>Pages URI</em> field.</p>
          <p>You can make the <em>Pages URI</em> as simple or complex as needed. For example let's say you want a page for WILL's history, and you want it associated with "About WILL." When you create the history page, just give it a <em>Pages URI</em> of <em>/about/history</em>. You can do the same thing with <em>/about/location</em>, <em>/about/mission</em>, etc. This creates a heirarchy of pages that makes sense to both humans and search engines.</p>
          <p><em>You can use any uri you want, so long as it's unique. If you pick one that already exists, ExpressionEngine will complain and not let you do it.</em></p>
          <h3>Now select a template for the page</h3>
          <p>The template is the "shell" that will go around the page content, like the navigation, and logo (AM, FM, TV, Community, Agriculture, etc.). Some templates have sidebars, and some are full-width. You can tell what kind of template it is by the name of the template. Click the dropdown and scroll down to choose the template you want for the page:</p>
          <img src="assets/img/pages-entry-template-dropdown.png" alt="Pages template dropdown list">
          <p>If you choose a template and it isn't what you want, you can easily edit the WILL Page entry and select another template.</p>
          <h3>Special purpose templates</h3>
          <p>The <em>Template</em> dropdown list provides two very special purpose templates you can use as needed:</p>
          <h4>full_width_html</h4>
          <p>This <em>pages/full-width</em> template is a kind of shell with only the WILL top navigation and the footer. For the page content you can design anything you want just using the main Description field.</p>
          <p>For example, let's say you want to design a page with a unique set of columns, and you're comfortable coding the columns yourself using html and the <a href="https://getbootstrap.com/docs/3.3/">Bootstrap grid framework</a> which we use for the website. Select the <em>pages/full_width_html</em> template, switch the Description field to Source view, and you can add just about any code you want including custom styles. Here's an example entry using the <em>full_width_html</em> template:</p>
          <img src="assets/img/pages-entry-template-dropdown" alt="pages template dropwdown list">
          <p>Here's the page for this entry: <a href="https://will.illinois.edu/greatamericanread">https://will.illinois.edu/greatamericanread</a>. As you can see it has some custom styles, including a 2x2 grid for the videos. The custom CSS and the Bootstrap markup were added in the entry itself.</p>
          <h4>Redirects</h4>
          <p>The <em>pages/redirect</em> template has one purpose: redirecting the <em>Pages URI</em> to another url. This is useful in cases where a simple WILL url is needed, like <em>will.illinois.edu/renewmygift</em>, and you want it redirected to another url for a donation form or whatever.</p>
          <p>To use the <em>pages/redirect</em> template do this:
            <ol>
              <li>Create a new entry in the WILL Pages channel</li>
              <li>Title it anything you want. The title won't display anywhere, so use it to describe the redirect, e.g. "Redirect: Renew My Gift".</li>
              <li>In the <em>Pages URI</em> field, enter the uri segment you want redirected to the target url.</li>
              <li>In the <em>Template</em> dropdown, select the <em>pages/redirect</em> template.</li>
              <li>Scroll down to the <em>Links to other Web Pages</em> field, and enter the target url in the <em>Link URL</em> part of the field.</li>
              <li>Save the entry and you're done. No other fields are needed for redirects.</li>
            </ol>
            <p>Here's an example entry showing the fields needed to create a redirect. Unneeded fields are collapsed in this screenshot just to get them out of the way:</p>
            <img src="assets/img/pages-redirect-entry.png" alt="a website entry showing fields needed for a redirect">

      </section>
                                      
        
      </div>
    </div>

  </div>
{% include footer.html %}
</html>

<!-- Localized -->