    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <p>Designed and built with gratitude and determination by the Illinois Public Media Department of New Media &amp; Innovation.</p>

        <ul class="footer-links">
          <li><a href="http://willtech.tumblr.com/" target="_blank">New Media &amp; Innovation Blog</a></li>
          <li class="muted">&middot;</li>
          <li><a href="mailto:will-web@illinois.edu?subject=website_issues">Report Issues</a></li>
        </ul>
      </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="{{ "/assets/js/jquery.js" | prepend: site.baseurl }}"></script>   
    <script src="{{ "/assets/js/bootstrap-transition.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/bootstrap-dropdown.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/bootstrap-scrollspy.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/bootstrap-tab.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/bootstrap-tooltip.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/bootstrap-popover.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/bootstrap-button.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/bootstrap-collapse.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/bootstrap-carousel.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/bootstrap-typeahead.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/bootstrap-affix.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/holder/holder.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/google-code-prettify/prettify.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/application.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/back-to-top.js" | prepend: site.baseurl }}"></script>
   	<a href="#0" class="cd-top">Top</a>
