   <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="mailto:will-web@illinois.edu?subject=website_issues">contact the Webmaster</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="{{"" | prepend: site.baseurl }}">Home</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  For Content Authors
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{{"intro" | prepend: site.baseurl }}">Website Introduction &amp; Structure</a></li>
                  <li><a href="{{"publish" | prepend: site.baseurl }}">How to Publish Web Content</a></li>
                  <li><a href="{{"pages" | prepend: site.baseurl }}">Create Standalone Pages</a></li>
                  <li><a href="{{"digitalmedia" | prepend: site.baseurl }}">Digital Media Essentials</a></li>
                  <li><a href="{{"metadata-one-pager" | prepend: site.baseurl }}">Metadata One Pager</a></li>
                  <li><a href="{{"metadata" | prepend: site.baseurl }}">Good Metadata Practices</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="/#" class="dropdown-toggle" data-toggle="dropdown">
                  For Section &amp; Project Owners
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{{"branding" | prepend: site.baseurl }}">Digital Content Branding Specification</a></li>
                </ul>
              </li>   

              <li class="dropdown">
                <a href="/#" class="dropdown-toggle" data-toggle="dropdown">
                  For Site Managers
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{{"managers" | prepend: site.baseurl }}">Managing the Site Manual</a></li>
                  <li><a href="{{"framework" | prepend: site.baseurl }}">CMS Framework</a></li>
                  <li><a href="{{"unique-pages" | prepend: site.baseurl }}">Unique Pages</a></li>
				  <li><a href="{{"obscura" | prepend: site.baseurl }}">Website Obscura</a></li>
                  <li><a href="{{"outliers" | prepend: site.baseurl }}">Outlier Website Sections</a></li>
                </ul>
              </li>  
              <!--
              <li class="">
                <a href="{{"admins" | prepend: site.baseurl }}">For CMS Admins</a>
              </li>
              -->
            </ul>
          </div>
        </div>
      </div>
    </div>